---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@use "variables";
@use "layout";
@use "header";
@use "thumbnail";
@use "pagination";
@use "footer";
@use "post";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
