<header>
  <nav class="header navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="/images/bemore.png" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#be-more-navbar-collapse" aria-controls="be-more-navbar-collapse" aria-expanded="false" aria-label="Nawigacja">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="be-more-navbar-collapse">
        <ul class="navbar-nav ms-auto">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li class="nav-item"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.headline }}</a></li>
            {% endif %}
          {% endfor %}
          <li class="nav-item"><a class="nav-link" href="{{ site.tech_blog.url }}" title="{{ site.tech_blog.title }}">{{ site.tech_blog.name }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
