<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.meta.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.description }}{% endif %}">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />

  <meta name='twitter:card' content='summary'>
  <meta name='twitter:creator' content='@womanonrails'>
  <meta name='twitter:description' content='{% if page.quote %}{{page.quote}}{% else %}{{ site.meta.description }}{% endif %}'>
  <meta name='twitter:image' content='{% if page.image %}http://bemore.womanonrails.com/images/meta/{{page.image}}{% else %}http://bemore.womanonrails.com/images/social/womanonrails-200x200.png{% endif %}'>
  <meta name='twitter:title' content='{% if page.title %}{{page.title}}{% else %}{{ site.meta.title }}{% endif %}'>

  <meta property='og:description' content='{% if page.quote %}{{page.quote}}{% else %}{{ site.meta.description }}{% endif %}' />
  <meta property='og:image' content='{% if page.image %}http://bemore.womanonrails.com/images/meta/{{page.image}}{% else %}http://bemore.womanonrails.com/images/social/womanonrails-200x200.png{% endif %}' />
  <meta property='og:title' content='{% if page.title %}{{page.title}}{% else %}{{ site.meta.title }}{% endif %}' />
  <meta property='og:type' content='article' />
  <meta property='og:url' content='http://bemore.womanonrails.com{% if page.url %}{{page.url}}{% endif %}' />
  <meta property="og:locale" content="pl_PL" />
  <meta property="og:site_name" content="Be more by Woman on Rails" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
