@use "variables" as *;

#footer {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin: 60px auto;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
  width: 100%;

  h4 {
    font-family: $raleway-fonts;
    font-size: 18px;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
  }

  a {
    color: $light-text-color;
    text-decoration: none;
    border-bottom: 1px dotted $border-color;
    -moz-transition: color 0.2s ease-out, border-color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out, border-color 0.2s ease-out;
    -webkit-transition: color 0.2s ease-out, border-color 0.2s ease-out;
    transition: color 0.2s ease-out, border-color 0.2s ease-out;

    &:hover {
      color: $hover-color;
      text-decoration: none;
      border-bottom-color: $hover-color;
    }

    &:focus {
      color: $hover-color;
      outline: 2px solid $hover-color;
      outline-offset: 2px;
    }
  }

  .copyright {
    color: $light-text-color;
    font-family: $raleway-fonts;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
  }

  .round {
    border-radius: 50%;
    border: 1px solid $background-color;
    margin-bottom: 30px;
    width: 80px;
  }

  .icons {
    i {
      font-size: 1.5em;
    }
  }
}
