.header {
  background-color: $background-color;
  font-family: $raleway-fonts;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;

  &.navbar {
    background-color: $background-color;
  }

  .navbar-nav {
    margin-top: 15px;
  }

  .navbar-nav > li > a,
  .navbar-nav .nav-link {
    color: $dark-text-color;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;

    &:hover { color: $hover-color; }
  }

  .navbar-brand {
    margin-top: -5px;

    img {
      height: 60px;
    }
  }

  .navbar-toggler {
    margin-top: 20px;
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(60, 59, 59, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-collapse.collapse,
  .navbar-collapse.collapsing {
    background-color: $background-color;
    border: none;
  }

  .container {
    margin-bottom: 15px;
  }

  .dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
  }

  @media (max-width: 767px) {
    .dropdown-menu > li > span {
      padding: 5px 15px 5px 25px;
    }
  }
}
