@use "sass:color";
@use "variables" as *;

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1470px;
  }
}

body {
  background-color: $background-grey-color;
  color: $text-color;
  font-family: $source-sans-fonts;
  font-weight: 300;
}

.container-fluid {
  padding-top: 50px;
}

.tag-header {
  color: $hover-color;
}

.badge {
  border-radius: 10rem;
  font-size: 12px;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}

.list-inline {
  > li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.3rem;
  }

  > li:first-child {
    padding-left: 0;
  }
}

.tag-list .btn-default {
  color: $white-text-color;
  background-color: $background-dark-grey-color;
  border: 1px solid $background-dark-grey-color;
  font-size: 13px;
  padding: 6px 12px;

  &:hover {
    background-color: color.adjust($background-dark-grey-color, $lightness: -10%);
    border-color: color.adjust($background-dark-grey-color, $lightness: -10%);
  }

  .badge {
    color: $text-color;
    background-color: $background-color;
  }
}


.tag-body {
  a {
    text-decoration: none;
    border-bottom: 1px dotted $border-color;
    letter-spacing: $letter-spacing;
    font-family: $raleway-fonts;
    color: $text-color;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; // Zwiększona grubość dla lepszej czytelności

    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;

    &:hover {
      color: $hover-color;
      border-bottom-color: $hover-color;
    }

    &:focus {
      outline: 2px solid $hover-color;
      outline-offset: 2px;
    }
  }

  .post-date {
    color: $light-text-color;
    font-size: 11px;
    padding-left: 15px;
  }
}
