@use "sass:color";
@use "variables" as *;

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1470px;
  }
}

body {
  background-color: $background-grey-color;
  color: $text-color;
  font-family: $source-sans-fonts;
  font-weight: 300;
}

.container-fluid {
  padding-top: 50px;
}

.badge {
  border-radius: 10rem;
  font-size: 12px;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}

.list-inline {
  > li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.3rem;
  }

  > li:first-child {
    padding-left: 0;
  }
}

.tag-list .btn-default {
  color: $white-text-color !important; // White text for contrast
  background-color: $dark-text-color !important; // Dark background #3c3b3b for better contrast (10.7:1)
  border: 1px solid $dark-text-color !important;
  font-size: 13px;
  padding: 6px 12px;

  &:hover {
    background-color: $hover-color !important; // Red hover color matching site theme
    border-color: $hover-color !important;
    color: $white-text-color !important;
  }
}
