@use "variables" as *;

.page-pagination {
  margin: 40px auto;
  text-align: center;
  width: 100%;

  .btn-link {
    color: $dark-text-color;
    cursor: auto;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    font-family: $raleway-fonts;
    letter-spacing: $letter-spacing;
    padding: 20px 30px;
    text-transform: uppercase;

    &.btn-default {
      background-color: $background-grey-color;
      border: 1px solid $border-color;
      color: $dark-text-color;
      font-weight: 700;

      -moz-transition: color 0.2s ease,border-color 0.2s ease;
      -ms-transition: color 0.2s ease,border-color 0.2s ease;
      -webkit-transition: color 0.2s ease,border-color 0.2s ease;
      transition: color 0.2s ease,border-color 0.2s ease;

      &:hover {
        background-color: $background-grey-color;
        border-color: $hover-color;
        color: $hover-color;
      }

      &.active,
      &:active,
      &:focus {
        background-color: $background-grey-color;
        border-color: $border-color;
        box-shadow: none;
      }
    }

    &.disabled,
    &:disabled {
      color: $light-text-color;
      pointer-events: none;
    }
  }

  .bi {
    font-size: 1.2em;
  }
}
