$raleway-fonts: 'Raleway', Helvetica, sans-serif;
$source-sans-fonts: 'Source Sans Pro', Helvetica, sans-serif;

$letter-spacing: 0.25em;

$background-color: #fff;
$background-grey-color: #f4f4f4;
$background-dark-grey-color: #646464;

$border-color: #ccc;

$dark-text-color: #3c3b3b;
$hover-color: #cc3433;
$light-text-color: #666666; // Poprawiony kontrast: 5.7:1 (poprzednio #aaa: 2.3:1)
$text-color: #595959; // Poprawiony kontrast: 6.4:1 (poprzednio #646464: 4.2:1)
$white-text-color: #fff;
