---
layout: default
---

<div class='container post-container'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <div class='post-header'>
        <h1>{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
      </div>
    </div>
  </div>

  <div class='post-image'>
    <div class='image'>
      <img src="/images/leads/{{ page.image }}" alt="{{ page.image_alt }}" title="{{ page.image_title }}">
    </div>
  </div>

  <article class="post">
    <blockquote>
      <p>{{ page.quote }}</p>
      <footer><em>{{ page.quote_author }}</em></footer>
    </blockquote>

    {{ content }}

    <ul class="list-inline tags">
      {% for tag in page.tags %}
        <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>

    {% if site.disqus_shortname and page.comments == true %}
      <footer class='footer'>
        <div id="disqus_thread"></div><!-- /#disqus_thread -->
      </footer>
    {% endif %}
  </article>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <div class='page-pagination'>
        <div class="btn-group" role="group">
          {% if page.next %}
            <a href="{{ page.next.url }}" class="btn btn-default">
              <i class="bi bi-chevron-left" aria-hidden="true"></i>
            </a>
          {% else %}
            <a href="#" class="btn btn-default disabled">
              <i class="bi bi-chevron-left" aria-hidden="true"></i>
            </a>
          {% endif %}
          {% if page.previous %}
            <a href="{{ page.previous.url }}" class="btn btn-default">
              <i class="bi bi-chevron-right" aria-hidden="true"></i>
            </a>
          {% else %}
            <a href="#" class="btn btn-default disabled">
              <i class="bi bi-chevron-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.comments %}{% include disqus_comments.html %}{% endif %}
